# Ignore everything
*

# Except for these
!/dist/*.js
!/dist/**/*.js
!/dist/*.map
!/dist/**/*.map
!/types/*.d.ts
!/types/index.d.cts
!/types/**/*.d.ts
!CONTRIBUTING.md
!licence.txt
!package.json
!readme.md
!tsconfig.json
