# Ignore everything
*

# Except for these
!/dist/*.js
!/dist/*.d.ts
!/dist/**/*.js
!/dist/**/*.d.ts
!/dist/*.map
!/dist/**/*.map
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!licence.txt
!package.json
!readme.md
!tsconfig.json
